/*light*/
:root {
    --bg-color-navbar: rgba(208, 209, 212, 0.75);
    --text-color-inactive:#9ca3af;
    --text-color-ac:#6b7280;
    --primary-color: #4b5563;
}

/* Tema Dark */
[data-theme="dark"] {
    --bg-color-navbar: #101119;
    --text-color-inactive:#9ca3af;
    --text-color-ac:#6b7280;
    --primary-color: #4b5563;
}

