/* CVSection.css */

/* Contenitore principale della card */
.card-section {
    margin: 5px; /* Riduce la distanza tra le card */
    border: 1px solid #6c6c6c;
    border-radius: 20px;
    justify-content: center;
    display: inline-block;
    max-width: 700px; /* Limita la larghezza massima della card */
    padding: 20px; /* Rimuove il padding extra per adattarsi al contenuto */
    padding-right: 0 !important;
    padding-left: 0 !important;
    box-sizing: border-box; /* Include il bordo nel calcolo delle dimensioni */
}
.card-section .text-block {
    width: 100%; /* Assicurati che prenda tutta la larghezza disponibile */
    display: block; /* Imposta il comportamento del blocco */
}
/* Righe della card senza spazi aggiuntivi */
.card-section .row {
    margin: 0;
    padding: 0;
}

/* Contenitore dell'immagine che non ha dimensioni fisse */
.image-container {
    width: 200px;  /* Limite massimo di larghezza */
    height: auto; /* Altezza adattiva */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Evita che l'immagine ecceda */
    background-color: white; /* Fondo neutro per l'immagine */
}

/* Immagine che si adatta al contenitore */
.fixed-size-img {
    width: 100%;  /* L'immagine si adatta alla larghezza del contenitore */
    height: auto; /* L'altezza si adatta mantenendo le proporzioni */
    object-fit: contain; /* Mantiene le proporzioni senza tagliare l'immagine */
}
.custom-submit{
    display: flex;
    justify-content: end;
}

@media (max-width: 768px) {
    .custom-container{
        padding-left:20px !important;
        padding-right:20px !important;
    }
    .card-section {
        text-align: center; /* Centra tutto il testo */
        display: flex;
        flex-direction: column; /* Imposta la direzione verticale */
        align-items: center; /* Centra il contenuto */
    }
    .fixed-size-img {
        width: 100%;  /* L'immagine si adatta alla larghezza del contenitore */
        height: auto; /* L'altezza si adatta mantenendo le proporzioni */
        object-fit: contain; /* Mantiene le proporzioni senza tagliare l'immagine */
    }
    .image-container {
        width: fit-content; /* Occupa tutta la larghezza disponibile */
        margin-bottom: 15px; /* Spazio tra l'immagine e il testo */
    }

    .fixed-size-img {
        width: 100%; /* Occupa tutta la larghezza disponibile */
        max-width: 200px; /* Imposta una larghezza massima */
    }
    .custom-submit{
        justify-content: center;
    }
}

