.box {
    flex-direction: column; /* Dispone gli elementi in colonna */
    align-items: center; /* Centra orizzontalmente */
    display: flex;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: rgba(200, 200, 200, 0.85);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    padding: 5px 2px;
}

.box img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s, filter 0.3s ease-in-out;
}

/* Sfocatura quando hover */
.box .blurred {
    filter: blur(5px);
    opacity: 0.4;
}

/* Overlay con testo */
.overlay {
    width: 100%;
    height: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8) 80%);
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 20px;
    transition: height 0.5s ease-in-out, opacity 0.3s;
    opacity: 0;
}

.overlay h3 {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 40px;
}

/* Mostra overlay in hover */
.box:hover .overlay {
    height: 100%;
    opacity: 1;
}

.box:hover img {
    transform: scale(1.1);
}
/* Contenitore per le card */
.skill-cards-container {
    display: flex;
    flex-wrap: wrap; /* Permette di far andare le card su più righe */
    justify-content: center;
    gap: 20px; /* Distanza tra le card */
}

/* Gestisce la disposizione delle card per diverse larghezze di schermo */
.skill-cards-container .col {
    display: flex;
    justify-content: center;
    align-items: center;
}




